/* -----------  light  ------------- */
/* first color : champagne */
/* second color : metallic-seaweed */
/* third color : green-sheen */

/* -----------  dark  ------------- */
/* first color :  */
/* second color :  */
/* third color :  */

:root{
    /* CSS HEX */
    --rich-black-fogra-29: #031926ff;
    --metallic-seaweed: #468189;
    --green-sheen: #77aca2ff;
    --opal: #9dbebbff;
    --champagne: #f4e9cdff;
    --champagne-contrast: rgb(231, 222, 200);
    --champagne-contrast-2: rgb(155, 148, 131);

    /* SCSS RGB */
    --rgba-rich-black-fogra-29: rgba(3, 25, 38, 1);
    --rgba-metallic-seaweed: rgba(52, 96, 102, 1);
    --rgba-green-sheen: rgb(96, 143, 134);
    --rgba-opal: rgba(157, 190, 187, 1);
    --rgba-champagne: rgba(244, 233, 205, 1);
}
.text-rich-black-fogra-29 {color: #031926ff;}
.text-metallic-seaweed {color: #468189;}
.text-metallic-seaweed-contrast {color: var(--rgba-metallic-seaweed);}
.text-green-sheen {color: #77aca2ff;}
.text-opal {color: #9dbebbff;}
.text-champagne {color: #f4e9cdff;}
.text-champagne-contrast {color: var(--champagne-contrast);}
.text-champagne-contrast-2 {color: var(--champagne-contrast-2);}

.rgba3 { background: rgba(0,0,0,.3); }
.bg-rich-black-fogra-29 {background-color: #031926ff;}
.bg-metallic-seaweed {background-color: #468189;}
.bg-metallic-seaweed-contrast {background-color: var(--rgba-metallic-seaweed);}
.bg-green-sheen {background-color: #77aca2ff;}
.bg-opal {background-color: #9dbebbff;}
.bg-champagne {background-color: #f4e9cdff;}
.bg-champagne-contrast {background-color: var(--champagne-contrast);}
.bg-champagne-contrast-2 {background-color: var(--champagne-contrast-2);}

.border-metallic-seaweed {
    border: 1px solid var(--metallic-seaweed);
}
.border-champagne {
    border: 1px solid var(--champagne);
}
.border-green-sheen {
    border: 1px solid var(--green-sheen);
}

.admin-container {
    height: 100vh;
    font-size: 1rem;
    background-color: var(--champagne);
}

/* -----------------------    iconos y link   ------------------------ */
.admin-container a {
    color:  var(--metallic-seaweed),
}
.admin-container a:hover,
.admin-container p.logout:hover {
    color: #366369;
    font-weight: bolder;
}
.admin-container i:hover {
    color: var(--metallic-seaweed);
}

.admin-container i.fa-bars:hover {
    color: var(--rgba-metallic-seaweed);
    font-weight: bold;
    cursor: pointer;
}

i.fa-sync-alt:hover {
    color: var(--opal);
}
i.fa-dollar-sign,
i.fa-dollar-sign:hover,
.sidebar i:hover {
    color: inherit;
    cursor: default;
}

.products i:hover {
    color: var(--opal);
}
/* -----------------------    buttons   ------------------------ */
.admin-container button {
    outline: none;
}

.btn-admin {
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,.3);
}
.btn-admin:active,
.btn-admin.active {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.3);
}

.btn-admin.btn-metallic-seaweed:hover,
.btn-admin.btn-metallic-seaweed.active {
    background: var(--rgba-metallic-seaweed);
}
.btn-admin.btn-metallic-seaweed {
    background: var(--metallic-seaweed);
    color: var(--champagne);
}

.btn-admin.btn-green-sheen:hover,
.btn-admin.btn-green-sheen.active {
    background: var(--rgba-green-sheen);
}
.btn-admin.btn-green-sheen {
    background: var(--green-sheen);
    color: var(--champagne);
}

/* btn-outline */

.btn-admin-outline {
    background: none;
    border-radius: 5px;
    padding: 5px 30px;
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,.3);
}
.btn-admin-outline:active,
.btn-admin-outline.active {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.3);
}

.btn-admin-outline.btn-champagne {
    color: var(--green-sheen);
    border: 1px solid var(--green-sheen);
}
.btn-admin-outline.btn-champagne:hover,
.btn-admin-outline.btn-champagn.active {
    background: var(--champagne-contrast-2);
    color: var(--rgba-metallic-seaweed);
}

.btn-admin-outline.btn-metallic-seaweed {
    border: 1px solid var(--green-sheen);
}
.btn-admin-outline.btn-metallic-seaweed:hover,
.btn-admin-outline.btn-metallic-seaweed.active {
    background: var(--metallic-seaweed-contrast-2);
}
/* other buttons */
.products header button {
    color: var(--champagne);
    border: none;
}
.products header button.active {
    color: var(--opal);
    border-bottom: 2px solid var(--opal);
}

/* -----------------------    inputs   ------------------------ */
.admin-container input,
.admin-container form input,
.admin-container form select,
.admin-container form textarea {
    border: 1px solid var(--green-sheen);
    color: var(--green-sheen);
}
.admin-container label.file {
    border: 1px solid var(--green-sheen);
    border-radius: 5px;
}
.admin-container form .input-group:hover > label,
.admin-container form .input-group:hover > i {
    color: var(--champagne-contrast-2);
}
.admin-container form .input-group:hover > input,
.admin-container form .input-group:hover > select,
.admin-container form .input-group:hover > textarea,
.admin-container form .input-group:hover > label.file {
    border: 1px solid var(--champagne-contrast-2);
    color: var(--champagne-contrast-2);
}
.admin-container .input-group:focus-within > label,
.admin-container .input-group:focus-within > option,
.admin-container .input-group:focus-within > i {
    color: var(--champagne-contrast-2);
}
.admin-container form option:hover {
    background: var(--metallic-seaweed);
}
.admin-container input:focus,
.admin-container form select:focus,
.admin-container textarea:focus {
    border: 1px solid var(--champagne-contrast-2);
    color: var(--champagne-contrast-2);
}
.admin-container form input:invalid ~ .input-group,
.admin-container form select:invalid ~ .input-group,
.admin-container form textarea:invalid ~ .input-group {
    border: 1px solid #DC3545;
}

.search-admin input {
    border: 1px solid var(--opal);
    border-right: none;
    border-radius: 3px 0 0 3px;
    padding-left: 8px;
    background: var(--champagne);
    color: var(--opal);
    font-size: 18px;
    transition: all .7s ease;
}
.search-admin label {
    height: 31px;
    border: 1px solid var(--opal);
    border-left: none;
    border-radius: 0 3px 3px 0;
    transition: all .7s ease;
    padding-right: 8px;
    background: var(--champagne);
    color: var(--opal);
}
.search-admin input:hover {
    border: 1px solid var(--metallic-seaweed);
    border-right: none;
}
.search-admin input:hover ~ label {
    border: 1px solid var(--metallic-seaweed);
    border-left: none;
    color: var(--metallic-seaweed);
}
.search-admin:focus-within > input {
    border: 1px solid var(--metallic-seaweed);
    border-radius: 0;
    border-right: none;
    padding: 5px 20px;
    background: var(--champagne-contrast);
    color: var(--metallic-seaweed);
}
#search-option {
    display: none;
    border: 1px solid var(--metallic-seaweed);
    border-radius: 3px 0 0 3px;
    background: var(--champagne-contrast);
    padding: 5px 15px;
    height: 31px;
    font-size: .9rem;
    color: var(--metallic-seaweed);
    transition: all 1s ease;
}
.search-admin:focus-within > #search-option {
    display: flex;
    height: 39px;
    transition: all .7s ease;
}
.search-admin:focus-within > label {
    height: 39px;
    border: 1px solid var(--metallic-seaweed);
    border-left: none;
    color: var(--metallic-seaweed);
    padding: 5px 20px;
    background: var(--champagne-contrast);
}
#listsearch-admin {
    z-index: 10;
    top: 51px;
    border: 1px solid var(--metallic-seaweed);
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 10px;
    background: var(--champagne-contrast);

}
#listsearch-admin p {
    font-size: 1rem;
    color: var(--metallic-seaweed);
}
#listsearch-admin p:last-child {
    border-radius: 0 0 3px 3px;
}
#listsearch-admin p:hover,#listsearch-admin p:focus {
    background-color: var(--champagne);
}

/* -----------------------    shadow cards   ------------------------ */
.element-up {
    border-radius: 5px;
    background: linear-gradient(145deg, #dcd2b9, #fff9db);
    box-shadow: inset -1px -1px 1px #cfc6ae,
                inset 1px 1px 1px #ffffec,
                1px 1px 1px #cfc6ae,
                -1px -1px 1px #ffffec;
}
.element-sidebar-up {
    border-radius: 0 5px 5px 0;
    background: linear-gradient(145deg, #468189, #51939c);
    box-shadow: inset -1px -1px 1px #3c6e74,
                inset 1px 1px 1px #62b4be,
                1px 1px 1px #3c6e74,
                -1px -1px 1px #62b4be;
}

.element2-up {
    background: #f4e9cd;
    box-shadow:  7px 7px 14px #cfc6ae,
                -7px -7px 14px #ffffec;
}
.element2-down {
    background: #f4e9cd;
    box-shadow: inset 7px 7px 14px #cfc6ae,
                inset -7px -7px 14px #ffffec;
}

/* -----------------------    tooltip   ------------------------ */
.admin-container .mytooltip {
    display: none;
    position: relative;
    min-width: 100%;
    transition: all 1s ease;
}
.admin-container .mytooltip::before {
    content: attr(data-title);
    position: absolute;
    border-radius: 3px;
    background-color: var(--rgba-metallic-seaweed);
    padding: 8px;
    top: -66px;
    left: 50%;
    transform: translateX(-25%);
    color: white;
    min-width: 200px;
    font-weight: lighter;
    text-transform: lowercase;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,.3);
    z-index: 10;
}
.admin-container .mytooltip::after {
    content: '';
    position: absolute;
    top: -36px;
    left: 50%;
    width: 15px;
    height: 16px;
    background-color: var(--rgba-metallic-seaweed);
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,.3);
    transform: translateX(-50%) rotate(45deg);
    z-index: 11;
}
.admin-container .mytooltip.down::before {
    top: 66px;
}
.admin-container .mytooltip.down::after {
    top: 59px;
    right: 50%;
    box-shadow: 0 0 0 rgba(0,0,0,.3);
}
.admin-container a .mytooltip::before,
.admin-container a .mytooltip.down::before {
    font-size: .7rem;
}

/* -----------------------    viñeta messages users   ------------------------ */
.admin-container .users .user .messages-user .messages-container .admin .content::before {
    background: var(--metallic-seaweed);
}
.admin-container .users .user .messages-user .messages-container .user .content::before {
    background: var(--green-sheen);
}

/* -----------------------    sidebar   ------------------------ */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100vh;
    min-width: 66px;
    max-width: 66px;
    padding: 16px;
    background: var(--metallic-seaweed);
    z-index: 6;
    transition: all .7s ease;
}
.sidebar:hover {
    align-items: center;
    min-width: 360px;
}
.sidebar .button-menu,
.sidebar .brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: rotateY(360deg);
    height: 10vh;
    transition: all 1s ease-in-out;
}
.sidebar .brand .logo {
    transform: scale(.9);
}
.sidebar .brand .logo:hover {
    transform: scale(1.3);
    transition: all .4s ease;
}
.sidebar .brand .logo img:hover {
    transform: scale(0.8);
    transition: all .3s ease;
}
.sidebar .brand .logo img:active {
    transform: scale(1);
}
.sidebar .links {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar .links a,
.sidebar .links p.logout {
    display: flex;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 1rem;
    transition: padding 1s ease;
}
.sidebar .links a.active {
    background: var(--rgba-champagne);
    border-radius: 5px;
}
.sidebar .links a .title,
.sidebar .links p.logout .title {
    display: none;
}
.sidebar:hover > .button-menu,
.sidebar:hover > .brand {
    transform: rotateY(0deg);
    justify-content: flex-end;
}
.sidebar:hover > .links a,
.sidebar:hover > .links p.logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
}
.sidebar:hover > .links a .title,
.sidebar:hover > .links p.logout .title {
    display: flex;
    margin-left: 2rem;
}

/* -----------------------    main   ------------------------ */
.main {
    min-width: 95%;
    max-width: 95%;
    min-height: 100vh;
    margin-left: 5%;
    overflow: auto;
}
.main .header {
    min-height: 10vh;
    max-height: 10vh;
}
.main .home,
.main .products {
    min-height: 90vh;
}
.main .home .products,
.main .home .users {
    min-height: 85vh;
}

.widget {
    min-width: 230px;
    max-width: 230px;
    border-left: 10px solid;
    width: 220px;
}

.lastproduct {
    min-height: 377px;
}
.lastproduct .info {
    height: 0;
    top: 0;
    background-color: rgba(52, 96, 102, .7);
    transition: all 1s ease;
}

.views .top10,
.views .notviews {
    min-height: 28vh;
    max-height: 28vh;
    overflow: hidden;
    z-index: 0;
    transition: overflow 1s ease, z-index 1s ease, max-height .7s ease;
}
.views .top10:hover,
.views .notviews:hover {
    max-height: 100vh;
    z-index: 5;
    overflow: visible;
}

.user .incommingmessage {
    top: -10px;
    left: -10px;
}

.admin-container .products .items-product.show,
.admin-container .products .add-product.show,
.admin-container .products .modify-product.show,
.admin-container .users .items-user.show,
.admin-container .users .detail-user.show,
.admin-container .users .messages-user.show,
.admin-container .users .orders-user.show {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    overflow: visible;
    transition: all 1s ease;
}
.admin-container .products .items-product,
.admin-container .products .add-product,
.admin-container .products .modify-product,
.admin-container .users .items-user,
.admin-container .users .detail-user,
.admin-container .users .messages-user,
.admin-container .users .orders-user {
    position: absolute;
    max-height: 0%;
    left: -100%;
    overflow: hidden;
    transition: all 1s ease;
}

/* -------------- barra vertical -------------- */
.main .home .users section {
    overflow: hidden;
}
.main .home .users section::-webkit-scrollbar {
    -webkit-appearance: none;
}
.main .home .users section::-webkit-scrollbar:vertical {
    width: 10px;
}
.main .home .users section::-webkit-scrollbar-corner {
    border-radius: 3px;
}
.main .home .users section::-webkit-scrollbar-track {
    background-color: var(--opal);
    border-radius: 3px;
    box-shadow: inset 3px 3px 10px rgb(107, 128, 126);
}
.main .home .users section::-webkit-scrollbar-thumb {
    background-color: var(--metallic-seaweed);
    border-radius: 3px;
}
.main .home .users section:hover {
    overflow-y: auto;
    scrollbar-width: thin;
}


@media(max-width: 990px){
    .sidebar:hover {
        min-width: 360px;
    }
    .widget {
        min-width: 200px;
        max-width: 200px;
    }
}
@media(max-width: 768px){
    .admin-container {
        font-size: 1rem;
    }
    a {
        padding: 0;
    }
    .sidebar {
        padding: 16px 8px;
    }
    .sidebar:hover {
        min-width: 360px;
    }
    .main {
        min-width: 90%;
        max-width: 90%;
        margin-left: 10%;
    }
    .main .header {
        min-height: 20vh;
    }
    .search-admin:focus-within > #listsearch-admin {
        top: 77px;
    }
    .widget {
        min-width: 180px;
        max-width: 180px;
    }
    .admin-container .users .messages-user.show,
    .admin-container .users .orders-user.show {
        top: 99px;
    }
    .admin-container .users .detail-user,
    .admin-container .users .messages-user,
    .admin-container .users .orders-user {
        left: -125%;
    }
}
@media(max-width: 540px){
    .admin-container {
        font-size: .9rem;
    }
    .sidebar {
        min-width: 33px;
        max-width: 55px;
    }
    .sidebar:hover {
        min-width: 340px;
    }
    .search-admin:focus-within > #listsearch-admin {
        top: 77px;
    }
    .widget {
        min-width: 100%;
    }
    .admin-container .users .detail-user.show {
        top: 44px;
    }
    .admin-container .users .messages-user.show,
    .admin-container .users .orders-user.show {
        top: 180px;
    }
    button.underline {
        padding: 5px 20px;
    }
}